[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertabnew"]
	path = bundle/supertabnew
	url = https://github.com/ervandew/supertab.git
